<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <!-- <class name="utils.TestResultValid?ation"/> -->
    <!--   <class name="scenarios.GEO.DepnCountryRltspPut"/>
      <class name="scenarios.GEO.TestingClass"/>
      <class name="scenarios.GEO.GeoTypePost"/>
      <class name="scenarios.GEO.DepnCountryRltspPost"/>
      <class name="scenarios.GEO.GeoOrgStdPut"/>
      <class name="scenarios.GEO.GeoRltspTypePost"/>
      <class name="scenarios.GEO.GeoRltspTypePut"/>
      <class name="cIcD.testrun.DefineClasses"/>
      <class name="scenarios.GEO.GeoTypePut"/>
      <class name="scenarios.GEO.GeoOrgStdPost"/> -->
    <!--   <class name="scenarios.GEO.LanguageGet"/> -->
    
    <!--   <class name="scenarios.GEO.GeoOrgStdPut"/> -->
    <!--   <class name="scenarios.GEO.GeoOrgStdPost"/> -->
    <!--   <class name="scenarios.GEO.GeoOrgStdGet"/> -->
    <!--   <class name="scenarios.GEO.MonthOfYearPost"/> --> 
    <!--   <class name="scenarios.GEO.MonthOfYearPut"/> --> 
    <!--   <class name="scenarios.GEO.DepnCountryRltspPost"/> -->
    <!--   <class name="scenarios.GEO.DepnCountryRltspPut"/> -->    
    <!--   <class name="scenarios.GEO.DepnCountryRltspGet"/> -->
    <!--   <class name="scenarios.GEO.MonthOfYearGet"/> -->  
      <class name="scenarios.GEO.UomTypeGet"/>
    <!--   <class name="scenarios.GEO.StProvStdGet"/> -->
      
            
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
